__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

logs/
*.log

config/user_settings.yaml

PG3D-Scripts/
dump.cs
dump/
build/

*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db

.vscode/
.idea/
*.sublime-*

*.CT
*.PTR
*.results.*

*.exe
!Pixel Gun 3D.exe

# Nuitka build
*.build/
*.dist/
*.onefile-build/
nuitka-crash-report.xml
